{{> header}}

<div class="container container-inner">
  <div class="container container-inner content content-title">
    <h4>FFLogs Raid DPS Calculator - Changes/Issues</h4>
  </div>
  <div class="container container-inner content">
    {{# changes}}
      <div class="selection-group">
        <h4>{{date}}</h4>
        {{description}}<hr/>
        <ul>
          {{#list}}
          <li>{{.}}</li>
          {{/list}}
        </ul>
      </div>
    {{/changes}}
    <div class="selection-group">
      <h4>Issues</h4>
      <ul>
        {{# issues}}
        <li>{{.}}</li>
        {{/issues}}
      </ul>
    </div>
    <div class="selection-group">
      <h4>Other Info</h4>
      All buff calculations here are taken by looking at the party's DPS while a buff is up, and multiplying it by the bonus. If a buff is solo or only affects certain targets, that is taken into consideration. Yes, I know there's a bunch of edge cases with dots, stacking multiplicative raid buffs, and etc... This is designed to be an imperfect, naive implementation of data we had to scrounge up before. This makes the current method for finding said data a lot easier. The best way to accurately find this data would be to create a full replay using the timeline of buffs/attacks as they happen.
      <hr />
      At the moment, critical hit and direct hit buffs are treated as static damage buffs. The crit modifier used is 0.4666... and the direct hit modifier is half that.
      <hr />
      At the moment, all haste buffs are treated as static damage buffs. The function used for this is 1 / (1 - hasteBonus) - 1.
      <hr />
      Yes, I know there's a bunch of edge cases with dots, stacking multiplicative raid buffs, and etc... This is designed to be an imperfect, naive implementation of data we had to scrounge up before. This makes the current method for finding said data a lot easier. The best way to accurately find this data would be to create a full replay using the timeline of buffs/attacks as they happen.
    </div>
  </div>
  <div class="container container-inner content content-small">
    {{> links}}
  </div>
</div>

{{> footer}}
