{{> header}}

<script src="/js/index.js" type="text/javascript"></script>

<div class="container container-inner">
  <div class="container container-inner content content-title">
    <h4>FFLogs Raid DPS Calculator - Error</h4>
  </div>

  <div class="container container-inner content">
    <div class="selection-group">
      <h3>{{error}}</h3>
    </div>

    <div class="selection-group">
      <h4><a href="/changelog">Change Log / Issues</a></h4>
    </div>
  </div>

  <div class="container container-inner content content-small">
    Created by: Blackcat Ofillomen of Gilgamesh
    <br />Created using the FFLogs API: <a href="https://www.fflogs.com">https://www.fflogs.com</a>
    <br />Thanks to Kihra for all the great work he's done on FFLogs to date!
  </div>
</div>

{{> footer}}
