body {
  font-family: 'Roboto', sans-serif;
}

input, select {
  height: 35px;
  background-color: #272b30;
  color: rgb(200, 200, 200);
  padding: 5px;
  border-color: #666;
}

.svg-icon {
  width: 26px;
  height: 26px;
}

.btn-primary {
  text-shadow: 1px 1px 2px black;
}

.container {
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 0;
  display: table;
}

.container-inner {
  border: 1px solid #555;
  padding: 0;
  height: auto;
}

.container-body {
  padding: 0;
  height: auto;
}

.table {
  margin-bottom: 0;
}

.table-row {
  display: table-row;
}

.type-icon {
  width: 75px;
}

.table>tbody>tr>td,
.table>tbody>tr>th {
  font-size: 12px;
  vertical-align: middle;
}

th {
  font-weight: 500;
}

.content {
  padding: 10px;
  border: 0;
}

.content-small {
  font-size: 11px;
}

.content-title {
  padding-bottom: 0;
}

.content-title h4 {
  margin-bottom: 0;
}

.selection-group {
  background: #222;
  padding: 20px;
  border-radius: 5px;
  margin: 10px 0;
}

.form-group {
  padding: 5px;
}

span.buff {
  background: rgba(0, 0, 0, 0.15);
  display: inline-block;
  border-radius: 5px;
  margin: 0 5px;
  padding: 5px;
}

.clickable-row, .clickable-header {
  cursor: pointer;
}

input, select {
  height: 35px;
  background-color: #272b30;
  border-radius: 5px;
  color: rgb(200, 200, 200);
  padding: 5px;
  border-color: #666;
}

.form-group label {
  width: 100px;
}

input {
  margin-left: 10px;
  margin-right: 10px;
}

.link-row:hover,
.table-striped>tbody>.link-row:nth-of-type(odd):hover {
   cursor: pointer;
   background-color: #222;
}

.role-icon {
  width: 24px;
  height: 24px;
}

hr {
  border-color: #444;
}

.buff-name {
  font-size: 18px;
}

.buff-definition {
  background-color: #333;
  border-radius: 5px;
  width: 325px;
  height: 260px;
  display: inline-table;
  padding: 20px;
  margin: 10px;
}

.buff-content {
}

.buff-param {
  margin: 10px 0;
}

.loading-text {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  padding: 16px;
}

.encounter-stages {
  text-align: center;
}

.encounter-stage {
  padding: 8px;
}

/* thanks to http://tobiasahlin.com/spinkit/ ! */
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 80px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #090;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
