input, select {
  height: 35px;
  background-color: #272b30;
  color: rgb(200, 200, 200);
  padding: 5px;
  border-color: #666;
}

.svg-icon {
  width: 26px;
  height: 26px;
}

.btn-primary {
  text-shadow: 1px 1px 2px black;
}

.container {
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 0;
  display: table;
}

.container-inner {
  border: 1px solid #555;
  padding: 0;
  height: auto;
}

.table {
  margin-bottom: 0;
}

.table-row {
  display: table-row;
}

.type-icon {
  width: 75px;
}

.table>tbody>tr>td,
.table>tbody>tr>th {
  font-size: 12px;
  vertical-align: middle;
}

.content {
  padding: 10px;
  border: 0;
}

.content-small {
  font-size: 11px;
}

.content-title {
  padding-bottom: 0;
}

.content-title h4 {
  margin-bottom: 0;
}

.selection-group {
  background: #222;
  padding: 20px;
  border-radius: 5px;
  margin: 10px 0;
}

.form-group {
  padding: 5px;
}

span.buff {
  background: rgba(0, 0, 0, 0.15);
  display: inline-block;
  border-radius: 5px;
  margin: 0 5px;
  padding: 5px;
}

.clickable-row, .clickable-header {
  cursor: pointer;
}

input, select {
  height: 35px;
  background-color: #272b30;
  border-radius: 5px;
  color: rgb(200, 200, 200);
  padding: 5px;
  border-color: #666;
}

.form-group label {
  width: 100px;
}

input {
  margin-left: 10px;
  margin-right: 10px;
}

.link-row:hover,
.table-striped>tbody>.link-row:nth-of-type(odd):hover {
   cursor: pointer;
   background-color: #222;
}

.role-icon {
  width: 24px;
  height: 24px;
}

hr {
  border-color: #444;
}
